*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    background: #f5f6fa;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    line-height: 100px;
    margin: 10px;

}

a i{
    transition: all 0.3s linear ;
}

a:hover i{
    transform: scale(1.4);
}



.fa-facebook-f{
    color: blue;
}

.fa-instagram{
    color: #e84393;
}

.fa-youtube{
    color: red;
}

.fa-linkedin{
    color: #0097e6;
}

.fa-twitter{
    color: #229ED9;
}